/* 
   Layout general rules
   ========================================================================== */

// box-sizing
html {
    box-sizing: border-box;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

