// Dropdown
// ==========================================================================
.dropdown {
  //line-height: 12px;

  .btn {
    text-align: left;

    .icon {
      margin-left: 5px;
    }
  }

  &__list {
    display: none;
    &.show {
      display: block;
    }
  }

  &__item {
    padding: 5px 3px;
    cursor: pointer;
  }

}

[data-tooltip] {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -37px;
  padding: 4px 12px;
  min-width: 74px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: rgba(0,0,0, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid rgba(0,0,0, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

[data-tooltip][data-tooltip-right]:before {
  left: auto;
  right: 0;
  margin-left: 0;
}

[data-tooltip][data-tooltip-left]:before {
  left: auto;
  right: 100%;
  margin-left: 0;
}
