// Typography
// ==========================================================================

$primary-font: 'Source Sans Pro', sans-serif;

$base-font-size: 14px;
$base-line-height:  1.5;

$primary-font-color: $primary-color;
$secondary-font-color: $secondary-color;